files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Origin *
        Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE"
        Header set Access-Control-Allow-Headers "Content-Type, Authorization"
      </Location>
