# This will automatically install the Sumo Logic collector on AWS Elastic
# Beanstalk instances. Add this to the .ebextensions folder in your app root
# and edit L24-25 to match your Sumo Logic accessid and accesskey. To add or
# remove tracked files, simply add or remove source hashes to the sources
# array on L36.
packages:
  rpm:
    SumoCollector: https://collectors.sumologic.com/rest/download/rpm/64

services:
  sysvinit:
    collector:
      enabled: true
      ensureRunning: true
      files:
        - /etc/sumo.conf

files:
  "/etc/sumo_sources.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "api.version": "v1",
        "sources": [
          {
            "name": "duracloud-durastore-write",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": true,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "duracloud-instance",
            "pathExpression": "${duracloud.home}/logs/duracloud-durastore-write.log"
          },
          {
            "name": "duracloud-durastore-read",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": true,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "duracloud-instance",
            "pathExpression": "${duracloud.home}/logs/duracloud-durastore-read.log"
          },
          {
            "name": "duracloud-durastore-client",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": true,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "duracloud-instance",
            "pathExpression": "${duracloud.home}/logs/duracloud-durastore-client.log"
          },
          {
            "name": "duracloud-durastore",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": true,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "duracloud-instance",
            "pathExpression": "${duracloud.home}/logs/duracloud-durastore.log"
           },
           {
            "name": "duracloud-duradmin",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": true,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "duracloud-instance",
            "pathExpression": "${duracloud.home}/logs/duracloud-duradmin.log"
           }
        ]
      }
