/*
* Created by Daniel Bernstein
* Modified by Charles Hacskaylo
*/

/* RESETTERS *************************************************/
/* Eric Meyer:
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}

a:hover {
  cursor:pointer;
}

ol, ul {
	list-style: none;
}


ul.bullets,
#static-panel ul
{
	line-height:130%;
	list-style:square;
	margin-left:15px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set input color for autofill */
input:-webkit-autofill {
    color: #000 !important;
}






/* CLEARFIX *************************************************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.horizontal-list li
{
	display:inline-block;
}


body {
	background:#fff url(../images/bg_clouds.jpg) repeat-y;
	font-family: Verdana, Helvetica, sans-serif;
	font-size:1em;
	*font-size:	90%; /* IE only */
	margin-right:10px !important;
}

h1, h2, h3
{
	font-family:Helvetica, Sans-Serif;
}

h1 { font-size:2em; font-weight:normal; }
h2 { font-size:1.3em; font-weight:normal; }
h3 { font-size:1em; }


.float-l {float:left; margin-left:0; }
.float-r {float:right; margin-right:0; }
.content-centered { text-align:center !important; }


/* MAIN PAGE ELEMENTS ******************************************/

body > #page-header
{
	height:87px;
	min-width:960px;
	padding-top:10px;
}

.pane-L1-body
{
	background:url(../images/bg_L1.png) no-repeat top right;
	padding-top:5px;
}

.pane-L1-body a
{
	color:#ccc;
}

.center-pane-north
{
	color:#9b9b9b;
	font-size:13px;
	padding:5px 10px;
	z-index:4 !important; /* needed to list spaces provider menu above elements below it */
}

.dc-prototype {

	display:none;
}

.list-browser
{
	background:#4F4F4F no-repeat top right;
}

.ui-layout-pane-west
{
	font-size:11px;
}

.dc-item-list-filter
{
	background-color:#4F4F4F;
	border:1px solid #999;
	color:#ccc;
	font-style:italic;
	padding:2px;
	width:143px;
	float: right;
}

.dc-item-list-wrapper
{
	background-color:#cbcbcb;
	border:1px solid #595959;
	border-top-color:#333;
	border-bottom-color:#4F4F4F;
	color:#000;
	min-width:250px !important;
	overflow:auto;
	width:auto !important;
}

.dc-item-list-wrapper a
{
	color:#000;
}

.dc-selectablelist-footer {
	padding-right:10px;
}

.dc-link:hover {
	text-decoration:underline;
	cursor: pointer;
}

.dc-link:after {
	content:'>';
}

.dc-selectablelist-hl {
	background:#DDDDDD;
}


.list-header
{
	padding:5px 5px 5px 10px;
}

.header-section
{
	min-width:250px !important;
	padding-bottom:3px;
	white-space:nowrap;
}

.list-header h2
{
	display:inline-block;
	font-size:16px;
	line-height:24px;
}

#spaces-list-view .list-header .button span,
#content-item-list-view .list-header .button span
{
	width:130px;
}

#space-filter {
    width: 100px;
}

.item-scroll-action:hover {
	color:#EEE;
	font-weight:bold;
}

.item-scroll-action{
	text-decoration: none;
}

.ui-layout-pane
{
	color:#fff;
}

#provider-logo
{
    float:left;
    margin-left:0;
    height:39px;
	width:184px;
}

.amazon_s3-logo
{
    background:url(../images/amazon.png) no-repeat;
}

.amazon_glacier-logo
{
    background:url(../images/amazon.png) no-repeat;
}

.chronopolis-logo
{
	background:url(../images/chronopolis.png) no-repeat;
}

.swift_s3-logo
{
    background:url(../images/swift.png) no-repeat;
}

.ui-layout-resizer
{
	background-color:#4b4b4b;
	cursor:col-resize !important;
}

.ui-layout-resizer:hover
{
	background-color:#257bba !important;
	cursor:col-resize !important;
	opacity:1 !important;
}

#spaces-list-view-resizer
{
	background-color:#4F4F4F;
}

#list-browser-resizer
{

}

ul.dc-user-config > li:first-child, .dc-exclusion-group > ul > li {
	border-top:0px;
}

ul.dc-user-config > li:last-child {
	border-bottom: 0px;
}


.dc-exclusion-group  li {
	margin-left: 30px;
	border-bottom: 0px;
	border-top: 0px;
}

.dc-exclusion-group  ul {
	margin-left:30px;
	border-left:1px solid #555555;
	background: #666666 !important;
	padding-left:10px;
}

.dc-exclusion-group > ul > li > label {
	width:250px !important;
	margin-right:10px;
}

.dc-exclusion-group > ul > li {
	border-bottom: 1px solid #777777;
}

.dc-exclusion-group > label, .dc-exclusion-group > select
{
	margin-bottom: 10px;
}

.dc-exclusion-group  li:last-child {
	border-bottom: 0px;
}


.ui-layout-toggler
{
	background:url(../images/grippy.gif) no-repeat left top;
	height:100px !important;
}

.footer
{
	background:url(../images/bg_L1_btm.png) no-repeat right -8px;
	height:70px !important;
	padding:0px 10px;
}

.footer #status-holder
{
	color:#ccc;
	font-size:11px;
	height:27px;
	padding-top:2px;
	text-align:right;
}

.footer #status-holder a { color:#ccc; text-decoration:none; }
.footer #status-holder a:hover { color:#fff; }

#status-holder #progress-bar
{
	background:url("/duradmin/images/loading-bar-green.gif") no-repeat left 2px;
	display:inline-block;
	height:20px;
	width:110px;
	vertical-align:middle;

}

#status-holder {
}

#footer-content { margin-top:15px; }

#footer-content #logo-ds
{
	background:url(../images/logo_lyrasis.png) no-repeat top left;
	margin-top:-5px;
	width:116px;
	height:18px;
}

.footer .sep
{
	color:#272727;
}

.hint
{
	font-size:11px;
}

/* TABS **********************************************/
/* Extends css.flex *****/

.dc-main-tabs
{
	position:absolute;
	left:10px;
	top:65px;
	opacity:0.7;
}

.dc-main-tabs li
{
	margin:0;
}

.dc-main-tabs a,
.dc-main-tabs a span
{
	color:#000;
	font-size:13px;
	height:22px;
	line-height:22px;
}

.dc-main-tabs a span
{
	margin:0 -2px;
	padding-left:2px;
	font-weight:bold;
}

.dc-main-tabs .selected a,
.dc-main-tabs a:hover
{
	background:url(../images/tab.gif) no-repeat top left;
}

.dc-main-tabs .selected a span,
.dc-main-tabs a:hover span
{
	background:url(../images/tab.gif) no-repeat top right;
	color:#fff !important;
}

/* LIST AND ITEMS **********************************************/

.dc-item-list
{
	margin:5px;
}

.dc-item-list table
{
	width:100%;
}

.dc-item,
.dc-item td,
.dc-item-list th
{
	border-bottom:1px solid #bbbbbb;
	border-collapse:  collapse;
	color:#000;
	padding-bottom:2px;
	padding-top:2px;
	text-align:left;
	vertical-align:middle;
}

.dc-item {
    position:relative;
	min-height:20px;
}
.dc-item-list td,
.dc-item-list th
{
	padding:3px 5px;
}

.dc-item-list td.icon
{
	width:38px;
}

.dc-item-list th
{
	background-color:#aaa;
	border-left:1px solid #ccc;
}

.dc-item-list td.icon div
{
	/* graphics format: art is 32 x 32, horizontal, with 10px between each, so total offset from icon to icon is 42px */
	background:url(../images/icons_services.png) no-repeat;
	width:32px;
	height:32px;
}

/* replicate 0; general-compute -42; bit-integrity -84; image -126; video -168; file-transform -210; */

.dc-item-list .service-replicate td.icon div { background-position:0 0; }
.dc-item-list .service-generalcompute td.icon div { background-position:-42px 0; }
.dc-item-list .service-bitintegrity td.icon div { background-position:-84px 0; }
.dc-item-list .service-image td.icon div { background-position:-126px 0; }
.dc-item-list .service-video td.icon div { background-position:-168px 0; }
.dc-item-list .service-filetransform td.icon div { background-position:-210px 0; }

/* bitintegrity */
.dc-item-list .service-0 td.icon div { background-position:-84px 0; }
.dc-item-list .service-1 td.icon div { background-position:-84px 0; }
.dc-item-list .service-2 td.icon div { background-position:-84px 0; }

/* image */
.dc-item-list .service-5 td.icon div { background-position:-126px 0; }
.dc-item-list .service-6 td.icon div { background-position:-126px 0; }
.dc-item-list .service-7 td.icon div { background-position:-126px 0; }

/* filetransform */
.dc-item-list .service-8 td.icon div { background-position:-210px 0; }

.dc-selected-list-item {
	background-color:#7e7e7e;
}

input.dc-check-all
{
	margin-left:3px !important;
}

.dc-checked-selected-list-item {
	background-color:#888;
	color:#FFF;
}

.dc-checked-list-item {
	background-color:#999;
	color:#FFF;
}

.dc-item div:first-child {
	/*

	float:left;*/
}

.dc-item-list .dc-action-panel{
    position:absolute;
    right:0;
    top:4px;
}

.dc-action-panel
{
	/*margin-right:20px;*/
}

.dc-item-content {
    padding-right: 30px;
}

.dc-item .cb-holder{
	padding:8px 8px 8px 5px;
}

.dc-item:hover,
.dc-item:hover td
{
	background-color:#9b9b9b;
	cursor: pointer;
}

/* PAGE TOP ********************************************************/

#dc-logo-panel
{
	padding-left:10px;
}

#dc-logo,
#dc-app-title
{
	background-repeat:no-repeat;
	display:inline-block;
	float:left;
	height:45px;
}

#dc-logo
{
	background-image:url(../images/logo_top_duracloud.png);
	width:110px;
	color: transparent;
}

#page-header #dc-app-title
{
	width:280px;
}

#page-header #dc-user
{
	border-right:solid 1px #ccc;
	height:60px;
	margin-right:10px;
	padding-right:20px;
	text-align:right;
	width:400px;
}

.outer,
.outer a
{
	color:#2c2c2c;
	font-size:14px;
}

.outer .icon-link:hover
{
	color:#000;
}


.dc-mouse-panel {
	visibility: hidden;
}

.dc-mouse-panel-activator
{
	cursor:pointer;
}

.dc-toggler {
	float:right;
	background: url(../images/icon_sm_arw_blue_updown.gif) no-repeat right top;
	width:11px;
	height:25px;
}

.dc-toggler-close { background-position:left top; }


.dc-expandable-panel div:first-child{
	cursor: pointer;
}

/* DETAIL PANE ****************************************************/

.detail-pane
{
	padding-right:5px !important;
}

.detail-pane h1
{
	color:#777;
	margin-bottom:10px;
}

.detail-pane > .north {
	overflow: auto;
	overflow-x: auto;
}

.detail-pane th {
	text-align: left;
	background-color: #555;
	padding: 5px 0px 5px 0px;
}

h2,.footer-prompt
{
    color:#F0F0F0;
}

.footer-prompt {
  font-size: smaller;
}

.detail-pane h3
{
	color:#fff;
	margin-bottom:10px;
}

.detail-pane .north
{
	background:url(../images/bg_details_header.png) repeat-x bottom left;
	padding:0 10px;
	position:relative;
}

.detail-pane .center
{
	background-color:#414141;
	border:1px solid #2d2d2d;
	border-top-color:#333;
	border-bottom-color:#999;
	font-family:Verdana, Sans-Serif;
	font-size:11px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.detail-pane .center {
	width:auto !important;
}

.detail-pane .segment-header,
#add-remove-properties-dialog .segment-header
{
	background:url(../images/bg_segment_header.gif) repeat-x top left;
	border-bottom:1px solid #333;
	color:#DBDBDB;
	cursor:pointer;
	font-size:13px;
	height:28px;
	line-height:25px;
	padding:0 10px;
}

.detail-pane .segment-header:hover,
#add-remove-properties-dialog .segment-header:hover
{
	color:#fff;
}

.detail-pane .segment-content,
#add-remove-properties-dialog .segment-content
{
	padding:10px;
}

.detail-pane .segment-content table,
#add-remove-properties-dialog .segment-content table
{
	width:100%;
}

.detail-pane .segment-content table td,
#add-remove-properties-dialog .segment-content table td
{
	border-bottom:1px solid #555;
	padding:4px 5px 4px 0;
}

.detail-pane .segment-content table td.label,
span.label,
#add-remove-properties-dialog .segment-content table td.label
{
	color:#999;
}

.detail-pane .segment-content table td.label,
#add-remove-properties-dialog .segment-content table td.label
{
	width:30%;
}


.detail-pane .segment-content table td.value,
#add-remove-properties-dialog .segment-content table td.value
{
	width:70%;
}

.detail-pane .segment-content input,
#add-remove-properties-dialog .segment-content input
{
	background-color:#484747;
	border:1px solid #727576;
	color:#ccc;
	padding:2px;
}

.segment-content h4 {
	margin: 10px 0px 5px 0px;
	padding: 10px 5px 10px 5px;
	height: 25px;
	border-top: 1px solid #555;
}

.segment-content h4 span {
	margin-top: 5px;
}
.segment-content h4 button {
	float:right;
}


.detail-pane .mime-type
{
	font-size:13px;
	height:40px;
	line-height:40px;
	margin:10px 0;
}

.mime-type-image-holder
{
	background:url(../images/icons_mimetypes.png) no-repeat;
	background-position:-40px 0;
	height:40px;
	width:40px;
}

.detail-pane .mime-type-image-holder
{
	margin-right:10px;
}

.mime-type-application { background-position:-80px 0 !important; }
.mime-type-audio { background-position:-240px 0 !important; }
.mime-type-compression { background-position:-480px 0 !important; }
.mime-type-drawing { background-position:-200px 0 !important; }
.mime-type-generic { background-position:0 0 !important; }
.mime-type-globe { background-position:-160px 0 !important; }
.mime-type-image { background-position:-200px 0 !important; }
.mime-type-message { background-position:-280px 0 !important; }
.mime-type-text { background-position:-320px 0 !important; }
.mime-type-music { background-position:-360px 0 !important; }
.mime-type-spreadsheet { background-position:-440px 0 !important; }
.mime-type-unknown { background-position:-40px 0 !important; }
.mime-type-xml { background-position:-520px 0 !important; }
.mime-type-video { background-position:-120px 0 !important; }

.preview-image-wrapper
{
	display:block;
	margin:0 auto;
	overflow:hidden;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	min-width:300px;
	min-height:200px;
}



 /* ERRORS *********************************************************/

 .error, .warning
 {
 	color:#ccc;
 	margin-bottom:10px;
 }

.error,.failure
 {
 	border:1px solid #aa0000;
 	background-color:#990000;
 }
.warning
 {
 	border:1px solid #ff9933;
	background-color:#ff6600;
 }

 .success {
 	border:1px solid #00AA00;
	background-color:#009900;
 }

 .info {
    background-color:#2e9acc;
 }
 .info, .success, .warning, .error {
	border-radius: 5px;
	padding:5px;
 }

.detail-pane label.error {
	padding:0px;
 }

 .health-check {
 	padding:5px;
 }

 /* MISC **********************************************************/

 .object-id {
 	display:none;
 }

 /*flyout select default styling ******************************************/

.provider-widget
{
	display:inline-block;
	position:relative;
}

.provider-widget ul
{
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#2886c0;
	border:1px solid #257ab9;
	border-bottom-color:#0c293f;
	border-top-color:#2e9acc;
	display:none;
	padding:10px;
	opacity:0.95;
	position:absolute;
	z-index:5000;
}

.provider-widget li
{
	border-top:1px solid #2e9acc;
	white-space:nowrap;
	min-width:100px;
}

.provider-widget li a
{
	color:#ffffff;
	cursor:pointer;
	display:block;
	font-size:11px;
	padding:6px 3px;
	text-decoration:none;
}

.provider-widget li a:hover
{
	background-color:#2e9acc;
	color:#fff;
}

/* doing this via jquery to support IE, so turned off here
#select-provider-wrapper:hover ul
{
	display:block;
}
*/

 .provider-widget li:first-child{
 	border-top:none !important;
 }

.provider-widget > a,
.provider-widget > a span
{
	background-image:url(../images/btn_provider.gif);

}

.provider-widget > a span i
{
	color:#76e8ff !important;
	min-width:150px;
}

.provider-float
{
    float: right;
}

.dc-expando-status {
	height:20px;
	width:30px;
}

.dc-busy {
	background: url('../images/wait.gif') no-repeat center center;
	display:inline-block; vertical-align:middle;
	height:20px;
	width:20px;
}

.dc-removing {
	background-color: orange;
	filter:alpha(opacity=0.25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}

.dc-progressbar
{
	display:block;
	background-color:#003300;
	border:1px solid #000;
	border-bottom-color:#454545;
}

.dc-progressbar .dc-progressbar-value
{
	background-color:#227722;
	border:1px solid #228822;
	border-top-color:#339933;
	border-bottom-width:0;
	color:#00cc00;
	display:block;
	overflow:visible;
	padding:1px 0px 3px 0px;
	text-align:left;
	white-space:nowrap;
}

.dc-failure, .dc-progressbar .dc-failure {
	background-color:#772222;
	border:1px solid #882222;
	border-top-color:#993333;
	color:#cc0000;
}

.dc-cancelled, .dc-progress-bar .dc-cancelled {
	background-color:#222277;
	border:1px solid #222288;
	border-top-color:#333399;
	color:#0000cc;
}


.dc-progress-state {
	padding-right:1em;
}

.dc-controls
{
	float:right;
	color: white;
}


#busy-dialog-title {
	margin-bottom:20px;
}
#busy-dialog-progressbar  {
	height: 30px;
	width: 100%;
	background: url('../images/loading-bar-green.gif') no-repeat center center;
}

.ui-serviceconfig > div {
	height: 420px;
	overflow: auto;
}


p.ui-serviceconfig-no-config{
	padding: 10px 0px 10px 0px;
}

/*
* hiding the jquery-ui dialog title bars globally.
*/
.ui-dialog-titlebar{
	display:none;
}


.dc-graph {
	width:300px;
	height:150px;
	padding:20px;
    margin-bottom:10px;
}

.dc-breadcrumb  li:after {
	content:' :: '
}


.dc-breadcrumb li {
	cursor: pointer;
	font-size:0.9em;
	color:#555
}


.dc-breadcrumb-title {
	font-size:1.3em !important;
	color:#555 !important;

}


.dc-breadcrumb ul{

}

.dc-report-panel {

}

.dc-hidden {
	display:none;
}
.dc-date-slider > div {
	 display:inline-block;
}

.number {
	text-align:right;
}




table.tablesorter {
    background-color: #CDCDCD;
    font-family: arial;
    font-size: 8pt;
    margin: 10px 0 15px;
    text-align: left;
    width: 100%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url("bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
table.tablesorter tbody td {
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding: 4px;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url("../images/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("../images/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8DBDD8;
}

table.tablesorter tr:nth-child(even) {
	background-color: #DDDDDD;
}

table.tablesorter tr {
	border-bottom: 1px solid #CCCCCC;
}

/*
* Upload tool
*/

.upload-tool {
	padding:10px;
    position:relative;
}

.upload-tool-help {
    position:absolute;
    left:765px;
    font-size: 0.7em;
    margin-top: 4px;
}

.dc-controlpanel .dc-controlpanel-header > * {
	float:right;
}

.dc-controlpanel .dc-controlpanel-header  {
	background-color: #444;
	padding: 5px;
	height:25px;
}

.dc-controlpanel input[type="checkbox"]  {
	margin:0px 5px 0px 5px !important;
}

table.dc-acls td:first-child {
	width:50%;
}

table.dc-acls td:last-child {
	width:25% ;
}

.user, .group {
	padding-left:20px;
}

.dc-graph {
	width:150px;
	height:150px;
	display:inline-block;
}

.dc-graph-holder {
	display:inline-block;
	text-align: center;
}

.dc-graph-holder {
	margin-left: 40px;

}
 .history-panel #summaries-graph {
 	height:150px;
	display:inline-block;

 }

 .history-panel .segment-content > * {
    width: 95%;
 }

 .history-panel #summaries-legend {
	display:block;
	color: #EEE;
	padding:5px;
 }
 .history-panel #summaries-legend table {
 	border: 1px solid #555;
 }

.history-panel #summaries-legend .legendLabel{
	color: #EEE;
}

.history-panel #summaries-legend table {
	width: 50px !important;
}

.history-panel h6 {
	margin-bottom: 10px;
}

#streaming-pane > p {
	margin-bottom: 20px;
}

#hlsSwitchControl {
	border-bottom: 1px solid #555;
	padding-bottom:10px;
	margin-bottom:10px;
	width:100%;
	display: inline-block;
	margin-top: 20px;

}

#hlsSwitchControl {
	margin-top: 25px;
}

.streaming-switch-holder {
	height:20px;
	display:inline-block;
	white-space: nowrap;
	margin-bottom: 20px;
}
.streaming-switch-holder label {
	font-size: 1.25em;
}

.streaming-switch {
	display:inline-block;
	font-size:0.7em;
}

.button-bar {
	white-space: nowrap;
}

.object-name {
	white-space: nowrap;
	margin-bottom: 10px !important;
}

button#enable-streaming {
	margin-top:10px;
}

button.add-space-button {
  display: none;
}

.dc-item-divider {
  background-color:#5b5b5b;
  padding:5px;
  font-weight: bold;

}

.dc-busy-holder {
    background: url('../images/wait.gif') no-repeat left center;
    display:inline-block;
    vertical-align:middle;
    height:20px;
    width:20px;
    min-width:30px;
    font-size: 10px;
    padding-left:20px;
}

div.snapshot.dc-item {
  padding: 5px 5px 0px 7px;
}