/* Style for Duradmin dialogs
*  Created by Charles Hacskaylo
*  Extends jquery-ui.css
*/

/* DIALOG BOX *******************************/


.ui-dialog
{
	-moz-border-radius:5px;
	border-radius:5px;
	background:url("../images/bg_L1.png") no-repeat center top #777;
	border:1px solid #333;
	color:#ccc;
	font-size:13px;
	overflow:hidden;
	padding:20px;
	position:absolute;
}

.ui-dialog-buttonpane
{
	text-align:right;
}

.ui-button
{
	background:url(../images/btn_dialog_std_90.png) no-repeat;
	border:none;
	color:#000;
	font-size:13px;
	height:28px;
	margin-left:10px;
	padding:0;
	text-align:center;
	width:90px;
}

.ui-button span
{
	display:block;
	margin-top:-4px;
}

.ui-button:hover
{
	background-position:bottom;
}

.ui-dialog h1
{
	color:#bbb;
	margin-bottom:5px;
}

.hint
{
	font-size:13px;
}

.ui-dialog .hint { 	color:#999; }
.ui-dialog div.hint
{
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#585B5E;
	margin:10px 0;
	padding:10px;
}

.ui-dialog div.hint h2 { color:#bbb; }

.dialog-open {
	border:1px solid  red !important;
}

.dialog-closed {
	border:1px solid  blue !important;
}

.ui-dialog label.error
{
	/*background-color:#cc0000;*/
	color:#ffcc00;
	font-size:11px;
	margin:1px 0 0 2px;
	padding:1px 5px;
}

.ui-dialog-content
{

}

.ui-dialog-buttonpane
{

}

.ui-dialog .dc-item-list-wrapper
{
	background-color:#575757;
}

.ui-dialog .dc-item,
.ui-dialog .dc-item td
{
	border-color:#666
}

.ui-dialog .dc-item,
.ui-dialog .dc-item td
{
	color:#ccc;
}

.ui-dialog .dc-item:hover,
.ui-dialog .dc-item:hover td
{
	background-color:#666;
	color:#fff;
}

.ui-dialog .dialog-detail
{
	padding:0 10px;
}

/* SPECIFIC DIALOGS *************************/
#available-services-dialog
{
	margin-bottom:10px;
	overflow: auto !important;
}


#dc-item-list-wrapper,
#dc-service-detail-wrapper
{
	float:left;
	margin-right:10px;
	width:300px !important;
}

/* UPLOAD STATUS DIALOG *************************/
#upload-viewer{
	height:430px;
	overflow:auto;
}

#upload-viewer label:after{
 content: ':';
}

#upload-list-wrapper
{
	padding-right:10px;
}

.ui-dialog-buttonpane .dialog-info {
  float:left;   
  padding:10px;
  display:inline;
  font-size: 14px;
}

.dialog-info a{
  color: #ccc !important;
}

.upload-thumbnail {
  margin-top: 10px; 
  height:50px;
}
.upload-item 
{
	border-bottom:1px solid #555;
	margin-bottom:5px;
	padding:10px 0;
	
}

#upload-option-divider {
  color: green;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

#single-upload-1 label {
    width: 102px;
}

#single-upload-1  input {
    width: 350px;
}

#single-upload-2 {
  margin-top: 20px;
  text-align:center;
}

button#upload-another {
  margin-bottom:10px;
}

#drop-preview label {
    width: 102px;
}

#drop-preview input {
    width: 235px;
}

#drop-preview button.trashbutton {
    margin-top: -3px;
    margin-left: 5px;
}

.upload-item > * {
  margin-right: 5px;
}

.upload-item a {
  color:#eee;
}


#drop-target {
  border: 5px dashed #ccc;
  width: 95%;
  min-height: 50px;
  margin: 20px auto;
  padding:20px 0px;
  text-align: center;
  font-size: 20px;
  
}

#drop-target.hover {
  border: 5px dashed #0c0;
}

#drop-target img {
  display: block;
  margin: 10px auto;
}

#drop-target p {
  margin: 10px;
  font-size: 20px;
}

progress {
  width: 100%;
  margin: 10px 0px;
}

progress:after {
  content: '%';
}
/* OVERLAY **********************************/
.ui-widget-overlay
{
	background:none;
	background-color:#fff;
	left:0;
	opacity:0.2;
	position:absolute;
	top:0;
}

/* FORM FIELDS ***************************/
/* Used by dialog boxes and login screen */

.form-fields { overflow:auto; }
.h400 { height:400px; }

.form-fields
{
	font-size:14px;
}

.form-fields label
{
	color:#ccc;
	display:inline-block;
	float:left;
	line-height:22px;
	padding-right:10px;
	width:130px;
	white-space:normal;
}

.form-fields label.error
{
    width:97%;
}

.form-fields .field
{
	display:inline-block;
	float:left;
}

.form-fields input.field,
.form-fields select.field,
.form-fields textarea.field
{
	background-color:#585b5e; /* 484747 */
	border:1px solid #36383a; /* 727576 */
	border-bottom-color:#727576;
	color:#ccc;
	font-size:14px;
	padding:3px;
}

select.field
{
}


.form-fields li
{
	padding:5px 0;
	white-space:nowrap;
}

.form-fields li.row
{
	border-top:1px solid #666;
}

.form-fields a.helper-link
{
	color:#8a8a8a;
	font-size:11px;
}

.form-fields a:hover
{
	color:#ccc;
}

