<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-14p %d{yyyy/MM/dd HH:mm:ss} [%t] (%F:%L\\) [%M(\\)] - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.duracloud.client.contentindex" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="org.springframework.data.elasticsearch" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>
  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
